.hero , .cta-box.bg-section{
background:#285044;
}

.navbar-brand .logo{
    width: 120px;
}

.footer-logo img {
    max-width: 120px;
}
.main-footer.bg-section{
    background: #285044;
    margin-bottom: 0px;
}

.expertise-list-item .expertise-list-content p::before{
   content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: url(../images/icon-sub-heading-primary.svg) no-repeat;
    background-position: left center;
    background-size: cover;
    width: 14px;
    height: 14px;
}
.expertise-list-content p{
    padding-left: 20px;
    position: relative;
}
.footer-copyright {
    border-top: 1px solid var(--dark-divider-color);
    padding: 28px 0;
    margin-top: 16px;
}
header.main-header{
    background: #fff;
}
.navbar-nav .nav-item .nav-link {
    color: #285044;
    font-weight: 500;
    font-size: 16px;
    padding: 0 20px;

}